In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt

In [ ]:
bigdata = pd.read_csv('/content/drive/MyDrive/Data Analytics/Data with ProBNP DBP.csv', sep=',', header = 0, index_col = 0)
smalldata = pd.read_csv('/content/drive/MyDrive/Data Analytics/Data without ProBNP DBP.csv', sep=',', header = 0, index_col = 0)

#Remove patients with more than 30% missing entries

In [ ]:
#There is still more than 20% missing data from diastolic BP, in order to analyze it's effect all patients without it will be removed (The entire column was removed from the smalldata df already).
bigdata_filtered = bigdata.loc[~bigdata['Diastolic BP (mean)'].isna()]

amount = bigdata_filtered.count(axis=1)      #Get amount of non NaN values per row.
entries = np.where(amount > 25)     #Select rows which have more than 70% of entries.

bigdata_filtered = bigdata_filtered.iloc[entries]    #Grab only those entries from the df.
bigdata_filtered

,Chronic KD,ProBNP (mean),SD (ProBNP),Potassium (mean),SD (Potassium),Diastolic BP (mean),SD (DBP),Respiratory Rate (mean),SD (RR),Platelet Count (mean),...,SD (AG),Calcium (mean),SD (Calcium),Lactate (mean),SD (Lactate),Lymphocytes (mean),SD (Lymph),Heart Rate (mean),SD (HR),In-hospital mortality
SUBJECT_ID,,,,,,,,,,,,,,,,,,,,,
107,0,3931.5,171.500000,4.541284,0.904952,50.697368,21.412625,16.929293,4.314066,139.642105,...,5.207128,8.637500,0.744319,1.875000,0.489260,17.183333,6.503952,61.112500,20.596866,0
165,1,833.5,441.500000,3.956338,0.456790,80.565217,10.499797,17.478261,2.356666,154.654545,...,2.581989,8.900000,0.547723,2.350000,0.250000,16.268750,5.464284,69.214286,15.487854,0
199,0,1812.0,271.000000,4.182353,0.452100,60.129630,9.351925,18.485876,3.581351,267.869565,...,2.766644,8.380000,0.231517,1.433333,0.324893,25.866667,7.923523,67.397436,30.084423,0
209,0,7850.0,0.000000,4.365625,0.426914,57.202247,11.011924,17.846154,5.738955,154.806452,...,3.162278,8.306667,0.765477,0.900000,0.000000,16.000000,1.042433,66.976562,23.866815,0
236,0,12036.0,1858.246665,4.298276,0.488485,57.386364,7.986397,16.515924,4.419997,68.776923,...,4.262237,8.036364,0.702298,1.860000,0.605310,12.368182,5.650775,74.376437,23.605616,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99747,1,9124.0,0.000000,3.913333,0.513636,49.851064,7.855013,18.525253,5.236514,196.750000,...,2.770103,8.628571,0.406076,NaN,NaN,5.200000,0.000000,78.909091,13.161665,0
99814,0,1734.0,0.000000,3.988889,0.321263,37.480000,9.712343,18.400000,3.382307,330.444444,...,2.160247,8.442857,0.388613,0.900000,0.100000,15.633333,2.939766,65.000000,13.546217,0
99847,1,33779.0,0.000000,3.878261,0.288861,73.872340,13.739394,21.458333,3.834918,44.320000,...,2.231500,8.100000,0.374166,1.500000,0.000000,4.622222,2.187732,104.833333,14.758049,0
99893,1,5630.0,0.000000,4.111111,0.477131,51.480769,9.392080,18.428571,4.531072,227.833333,...,2.217356,9.180000,0.360000,1.700000,0.000000,NaN,NaN,80.884615,13.185832,0
99901,1,9792.0,0.000000,3.550000,0.372363,51.301587,8.266657,17.078014,3.222419,149.062500,...,2.872281,9.022222,0.297313,1.300000,0.000000,8.600000,2.200000,86.454545,13.397680,0

In [ ]:
amount = smalldata.count(axis=1)      #Get amount of non NaN values per row.
entries = np.where(amount > 22)       #Select rows which have more than 70% of entries.

smalldata_filtered = smalldata.iloc[entries]    #Grab only those entries from the df.
smalldata_filtered

,Chronic KD,Potassium (mean),SD (Potassium),Respiratory Rate (mean),SD (RR),Platelet Count (mean),SD (PC),Sodium (mean),SD (sodium),Urea Nitrogen (mean),...,SD (AG),Calcium (mean),SD (Calcium),Lactate (mean),SD (Lactate),Lymphocytes (mean),SD (Lymph),Heart Rate (mean),SD (HR),In-hospital mortality
SUBJECT_ID,,,,,,,,,,,,,,,,,,,,,
3,0,4.316667,0.643619,16.987879,5.798629,260.031250,83.932445,138.027027,3.258971,33.236842,...,4.171331,7.750000,0.829587,3.408333,2.536552,12.300000,5.292582,74.684783,45.299232,0
9,0,3.310000,0.333017,16.316062,2.605017,274.250000,34.175101,134.300000,3.348134,22.714286,...,1.479020,8.700000,0.650275,1.987500,0.590418,41.600000,0.000000,57.846154,37.734046,1
21,0,4.147917,0.492438,17.926230,4.542155,235.658537,77.111769,139.363636,3.134057,53.755556,...,5.436502,8.686364,1.118154,2.177778,0.755392,6.866667,2.908226,67.764706,39.504866,1
26,0,4.140000,0.297321,20.060000,2.907989,174.166667,12.824672,137.625000,2.446298,31.500000,...,1.118034,8.340000,0.287054,NaN,NaN,NaN,NaN,52.371429,26.813172,0
34,0,4.033333,0.268742,18.338462,4.977726,304.714286,37.381104,141.000000,1.414214,29.142857,...,2.315167,8.750000,0.229129,1.700000,0.000000,11.650000,0.250000,53.214286,24.950909,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99938,1,4.078261,0.351341,21.575221,3.928127,198.466667,55.556418,129.842105,2.253959,23.421053,...,2.357023,8.500000,0.384708,1.350000,0.269258,19.100000,2.900000,83.761905,21.210685,0
99944,1,4.200000,0.591608,22.644860,4.160905,311.125000,27.057520,139.125000,2.204399,33.555556,...,1.414214,8.442857,0.306394,1.000000,0.000000,5.233333,0.946338,81.315789,18.417244,0
99982,0,3.875000,0.348454,16.654008,4.706414,123.612903,27.475124,135.681818,2.753285,28.536585,...,3.162278,8.977778,0.289742,1.740000,0.492341,17.500000,2.083267,86.980000,17.143440,0
99991,0,3.773333,0.267000,23.961538,5.274983,254.500000,90.660079,143.000000,2.415229,20.333333,...,1.972027,7.600000,0.684105,1.400000,0.474342,22.500000,5.500000,95.265306,18.206885,0
99995,0,3.775000,0.414578,20.728814,3.588260,159.666667,26.911377,137.500000,1.118034,11.500000,...,1.118034,8.433333,0.169967,1.200000,0.223607,NaN,NaN,71.696970,19.359243,0

#Fill NaN values with the mean of the column

In [ ]:
#Fill all empty entries with the mean of it's respective column.
bigdata_filled = bigdata_filtered.fillna(bigdata_filtered.mean())
bigdata_filled

,Chronic KD,ProBNP (mean),SD (ProBNP),Potassium (mean),SD (Potassium),Diastolic BP (mean),SD (DBP),Respiratory Rate (mean),SD (RR),Platelet Count (mean),...,SD (AG),Calcium (mean),SD (Calcium),Lactate (mean),SD (Lactate),Lymphocytes (mean),SD (Lymph),Heart Rate (mean),SD (HR),In-hospital mortality
SUBJECT_ID,,,,,,,,,,,,,,,,,,,,,
107,0,3931.5,171.500000,4.541284,0.904952,50.697368,21.412625,16.929293,4.314066,139.642105,...,5.207128,8.637500,0.744319,1.875000,0.489260,17.183333,6.503952,61.112500,20.596866,0
165,1,833.5,441.500000,3.956338,0.456790,80.565217,10.499797,17.478261,2.356666,154.654545,...,2.581989,8.900000,0.547723,2.350000,0.250000,16.268750,5.464284,69.214286,15.487854,0
199,0,1812.0,271.000000,4.182353,0.452100,60.129630,9.351925,18.485876,3.581351,267.869565,...,2.766644,8.380000,0.231517,1.433333,0.324893,25.866667,7.923523,67.397436,30.084423,0
209,0,7850.0,0.000000,4.365625,0.426914,57.202247,11.011924,17.846154,5.738955,154.806452,...,3.162278,8.306667,0.765477,0.900000,0.000000,16.000000,1.042433,66.976562,23.866815,0
236,0,12036.0,1858.246665,4.298276,0.488485,57.386364,7.986397,16.515924,4.419997,68.776923,...,4.262237,8.036364,0.702298,1.860000,0.605310,12.368182,5.650775,74.376437,23.605616,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99747,1,9124.0,0.000000,3.913333,0.513636,49.851064,7.855013,18.525253,5.236514,196.750000,...,2.770103,8.628571,0.406076,2.018248,0.764176,5.200000,0.000000,78.909091,13.161665,0
99814,0,1734.0,0.000000,3.988889,0.321263,37.480000,9.712343,18.400000,3.382307,330.444444,...,2.160247,8.442857,0.388613,0.900000,0.100000,15.633333,2.939766,65.000000,13.546217,0
99847,1,33779.0,0.000000,3.878261,0.288861,73.872340,13.739394,21.458333,3.834918,44.320000,...,2.231500,8.100000,0.374166,1.500000,0.000000,4.622222,2.187732,104.833333,14.758049,0
99893,1,5630.0,0.000000,4.111111,0.477131,51.480769,9.392080,18.428571,4.531072,227.833333,...,2.217356,9.180000,0.360000,1.700000,0.000000,14.886391,4.908924,80.884615,13.185832,0
99901,1,9792.0,0.000000,3.550000,0.372363,51.301587,8.266657,17.078014,3.222419,149.062500,...,2.872281,9.022222,0.297313,1.300000,0.000000,8.600000,2.200000,86.454545,13.397680,0

In [ ]:
#Fill all empty entries with the mean of it's respective column.
smalldata_filled = smalldata_filtered.fillna(smalldata_filtered.mean())
smalldata_filled

,Chronic KD,Potassium (mean),SD (Potassium),Respiratory Rate (mean),SD (RR),Platelet Count (mean),SD (PC),Sodium (mean),SD (sodium),Urea Nitrogen (mean),...,SD (AG),Calcium (mean),SD (Calcium),Lactate (mean),SD (Lactate),Lymphocytes (mean),SD (Lymph),Heart Rate (mean),SD (HR),In-hospital mortality
SUBJECT_ID,,,,,,,,,,,,,,,,,,,,,
3,0,4.316667,0.643619,16.987879,5.798629,260.031250,83.932445,138.027027,3.258971,33.236842,...,4.171331,7.750000,0.829587,3.408333,2.536552,12.300000,5.292582,74.684783,45.299232,0
9,0,3.310000,0.333017,16.316062,2.605017,274.250000,34.175101,134.300000,3.348134,22.714286,...,1.479020,8.700000,0.650275,1.987500,0.590418,41.600000,0.000000,57.846154,37.734046,1
21,0,4.147917,0.492438,17.926230,4.542155,235.658537,77.111769,139.363636,3.134057,53.755556,...,5.436502,8.686364,1.118154,2.177778,0.755392,6.866667,2.908226,67.764706,39.504866,1
26,0,4.140000,0.297321,20.060000,2.907989,174.166667,12.824672,137.625000,2.446298,31.500000,...,1.118034,8.340000,0.287054,2.259983,0.809303,14.454593,4.063320,52.371429,26.813172,0
34,0,4.033333,0.268742,18.338462,4.977726,304.714286,37.381104,141.000000,1.414214,29.142857,...,2.315167,8.750000,0.229129,1.700000,0.000000,11.650000,0.250000,53.214286,24.950909,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99938,1,4.078261,0.351341,21.575221,3.928127,198.466667,55.556418,129.842105,2.253959,23.421053,...,2.357023,8.500000,0.384708,1.350000,0.269258,19.100000,2.900000,83.761905,21.210685,0
99944,1,4.200000,0.591608,22.644860,4.160905,311.125000,27.057520,139.125000,2.204399,33.555556,...,1.414214,8.442857,0.306394,1.000000,0.000000,5.233333,0.946338,81.315789,18.417244,0
99982,0,3.875000,0.348454,16.654008,4.706414,123.612903,27.475124,135.681818,2.753285,28.536585,...,3.162278,8.977778,0.289742,1.740000,0.492341,17.500000,2.083267,86.980000,17.143440,0
99991,0,3.773333,0.267000,23.961538,5.274983,254.500000,90.660079,143.000000,2.415229,20.333333,...,1.972027,7.600000,0.684105,1.400000,0.474342,22.500000,5.500000,95.265306,18.206885,0
99995,0,3.775000,0.414578,20.728814,3.588260,159.666667,26.911377,137.500000,1.118034,11.500000,...,1.118034,8.433333,0.169967,1.200000,0.223607,14.454593,4.063320,71.696970,19.359243,0

In [ ]:
bigdata_filled.to_csv('/content/drive/MyDrive/Data Analytics/BigData Filled.csv', sep=',', index=True)
smalldata_filled.to_csv('/content/drive/MyDrive/Data Analytics/SmallData Filled.csv', sep=',', index=True)